

h2{
    margin: 8rem auto 4rem auto;
    text-transform: uppercase; 
    border-bottom: 2px solid #0f172a ;
}
 #newh{
     text-align: center;
    padding: 0.4rem 1rem;
    width: 20rem;
} 

#newhc{
    text-align: center;
    width: 18rem;
}


.articles , .articlesf , .articlesE{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 14rem, 1fr)); /* 4 colonnes de largeur égale */
    gap: 16px; /* Espace entre les éléments de la grille */
    padding: auto; /* Espace intérieur de la grille */
  align-items: center;
     /* gap:1rem; */
    /* padding: 2rem 1rem 0px 1rem; */
    overflow: hidden;
    
}

.articles-content{
    width: 15rem;
   }

.article-content p{
    width: 97%;
    height: 3rem;
    margin: auto;
}




@media(max-width:768px){ 

    
    #newh{
       width: 20rem;
   } 
   #newhc{
     width: 19rem;
   }
   
   .articles , .articlesf , .articlesE{
       width: 100%;
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax( 14rem, 1fr)); /* 4 colonnes de largeur égale */
       gap: 15px; /* Espace entre les éléments de la grille */
       padding: 5px; /* Espace intérieur de la grille */
    /* align-items: center; */
        /* gap:1rem; */
       /* padding: 2rem 1rem 0px 1rem; */
       overflow: hidden;
       height: auto;
      
   }
   
   .article-content{
       width: 15rem;    
   }
   
   }
   /* fin responsive 768px */


@media(max-width:712px){ 

    
 #newh{
    width: 20rem;
} 
#newhc{
  width: 19rem;
}

.articles , .articlesf , .articlesE{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 13rem, 1fr)); /* 4 colonnes de largeur égale */
    gap: 15px; /* Espace entre les éléments de la grille */
    padding: 5px; /* Espace intérieur de la grille */
 /* align-items: center; */
     /* gap:1rem; */
    /* padding: 2rem 1rem 0px 1rem; */
    overflow: hidden;
    height: auto;
   
}

.article-content{
    width: 14rem;    
}

}
/* fin responsive 712px */



@media(max-width:540px){
    .articles , .articlesf , .articlesE{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax( 13rem, 1fr)); /* 4 colonnes de largeur égale */
        gap: 13px; /* Espace entre les éléments de la grille */
        padding: 20px 20px 20px 25px; /* Espace intérieur de la grille */
     /* align-items: center; */
         /* gap:1rem; */
        /* padding: 2rem 1rem 0px 1rem; */
        overflow: hidden;
        height: auto;
       
    }
    
    }
    /* fin responsive 540px */


@media(max-width:480px){
h2{ 
    padding: 0.4rem 1rem;
    font-size: 1.1rem;
    text-align: center;
    margin: 6rem auto ;
    text-transform: uppercase; 
    border-bottom: 2px solid #0f172a ;
}
 #newh{
      width: 16rem;
} 
#newhc{
    width: 15rem;
}
}
/* fin responsive 480px */


@media(max-width:414px){
.articles , .articlesf , .articlesE{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 10rem, 1fr)); /* 4 colonnes de largeur égale */
    gap: 13px; /* Espace entre les éléments de la grille */
    padding: 5px; /* Espace intérieur de la grille */
 /* align-items: center; */
     /* gap:1rem; */
    /* padding: 2rem 1rem 0px 1rem; */
    overflow: hidden;
    height: auto;
   
}

.boutique-img{
    width: 100%;
    height: 80vh; 
}

.article-content{

    width: 12rem;
          
}
}
/* fin responsive 480px */


@media(max-width:393px){ 

    h2{ 
        padding: 0.4rem 1rem;
        font-size: 1.1rem;
        text-align: center;
        margin: 8rem auto 4rem auto;
        text-transform: uppercase; 
        border-bottom: 2px solid #0f172a ;
    }
     #newh{
          width: 14rem;
    } 
    #newhc{
        width: 15rem;
    }
    
    
    .articles , .articlesf , .articlesE{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax( 9rem, 1fr)); /* 4 colonnes de largeur égale */
        gap: 16px; /* Espace entre les éléments de la grille */
        padding: 5px; /* Espace intérieur de la grille */
      gap: 16px; /* Espace entre les éléments de la grille */
       /* align-items: center; */
         /* gap:1rem; */
        /* padding: 2rem 1rem 0px 1rem; */
        overflow: hidden;
        height: auto;
       
    }

    .boutique-img{
        width: 100%;
        height: 80vh; 
    }
    
    .article-content{

        width: 10rem;
              
    }

    .content-img{
        width: 100%;
        height: 10rem;
    }
    
    .content-img img{
        width: 100%;
        height: 100%;
    }
    
    .titre{
        padding: 0.5rem 5px;
        font-size: 0.8rem;
        font-weight: bold;
    }
    
    .article-content p{
        font-size: 0.8rem;
        width: 95%;
        height: 2.5rem;
        margin: auto;
        
    }
    
    .article-content p::after{
        content: ".";
    }
    
    .article-footer{
       
        padding: 1.3rem 0px 1rem 0px;
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    
    .prix{
        color: red;
        font-size:0.8rem ;
    }
    
    .voir{
        font-size: 0.7rem;
        padding: 0.2rem 0.3rem;
        
    }
    
    .voir:hover{
        transform: scaleX(1.1);
    }

}  /*fin responsive 393px   */


@media(max-width:360px){ 

    h2{ 
        padding: 0.4rem 1rem;
        font-size: 1.1rem;
        text-align: center;
        margin: 8rem auto 4rem auto;
        text-transform: uppercase; 
        border-bottom: 2px solid #0f172a ;
    }
     #newh{
          width: 14rem;
    } 
    #newhc{
        width: 15rem;
    }
    
    
    .articles , .articlesf , .articlesE{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax( 9rem, 1fr)); /* 4 colonnes de largeur égale */
        gap: 16px; /* Espace entre les éléments de la grille */
        padding: 5px; /* Espace intérieur de la grille */
      align-items: center;
         /* gap:1rem; */
        /* padding: 2rem 1rem 0px 1rem; */
        overflow: hidden;
        height: auto;
       
    }

    
    
    .article-content{

        width: 10rem;
              
    }

    .content-img{
        width: 100%;
        height: 10rem;
    }
    
    .content-img img{
        width: 100%;
        height: 100%;
    }
    
    .titre{
        padding: 0.5rem 5px;
        font-size: 0.8rem;
        font-weight: bold;
    }
    
    .article-content p{
        font-size: 0.8rem;
        width: 95%;
        height: 2.5rem;
        margin: auto;
        
    }
    
    .article-content p::after{
        content: ".";
    }
    
    .article-footer{
       
        padding: 1.3rem 0px 1rem 0px;
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    
    .prix{
        color: red;
        font-size:0.8rem ;
    }
    
    .voir{
        font-size: 0.7rem;
        padding: 0.2rem 0.3rem;
        
    }
    
    .voir:hover{
        transform: scaleX(1.1);
    }

}  /*fin responsive 360px   */


@media(max-width:320px){ 

    .articles , .articlesf , .articlesE{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax( 8rem, 1fr)); /* 4 colonnes de largeur égale */
        gap: 16px; /* Espace entre les éléments de la grille */
        padding: 5px; /* Espace intérieur de la grille */
      align-items: center;
         /* gap:1rem; */
        /* padding: 2rem 1rem 0px 1rem; */
        overflow: hidden;
        height: auto;
       
    }

    
    
    .article-content{
        min-width: 9rem;
        width: 9rem;          
    }

}/*fin responsive 360px   */


@media(max-width:280px){ 

    .articles , .articlesf , .articlesE{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
         gap: 16px; /* Espace entre les éléments de la grille */
        align-items: center;
         /* gap:1rem; */
        /* padding: 2rem 1rem 0px 1rem; */
        overflow: hidden;
        height: auto;
       
    }

    
    
    .article-content{
        min-width: 10rem;
        width: 10rem;          
    }

}/*fin responsive 280px   */