
.product-details{
     padding:6rem 2rem ;
}  


.product-details h1{
    text-align: center;
    font-size: 1.4rem;
    text-transform:uppercase;
    text-decoration: underline ;
}

#product-container{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    height: auto ;
}

#vide{
   margin:auto;
}

 #product-info{
     position: relative;
     display: flex;
     flex-direction: row;
     flex-wrap: no-wrap;
     gap: 2rem;
     width: 80%;
     height:auto ;
    background: rgba(170, 162, 162,0.2);
     margin: auto;
     padding-bottom: 0px;
 }
 .content-img{
    width: 10rem;
    height: 18rem;

 }
 .content-img img{
     width: 100%;
     height: 100%;
 }

 .article-head{
    position: relative;
    align-items: center; 
   width:33rem;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
} 

 .ri-delete-bin-2-line{  
    color: red;
    font-size: 1.5rem;
}
.ri-delete-bin-2-line:hover{
    color:black;
}


 .article-content{
     width: 50%;
     padding: 0.7rem 5px;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     line-height: 1rem;
 }

 .article-content h3{
     text-transform: uppercase;
 }
    
 
  .couleur-content{
      display: flex;
      flex-direction: row;
      gap:0.6rem ;
  }

  .couleur{
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
   
    cursor: pointer;
}
 
   .place{
       display: flex;
       justify-content: space-between;
       gap:10rem;
   }
  

  .montant{
      
      text-transform: uppercase;
  }

  .taille span{
    border: 1px solid black;
    cursor: pointer;
  }

     .size-option{
       padding:0.3rem;
     }

  .size-option.selected{
    color: white;
    background-color: black;
  }
  
  .montant-som{
      color: black ;
      font-weight: bold;
      border: none;
      width:min(2rem ,3rem);
  }

  .article-footer{
      width: 33rem;
      display: flex;
      justify-content: space-between;
  }
  #quantity{
      width: 3rem;
  }

  .panier_footer{
      width: 80%;
      margin: 0 auto;
      padding-top: 2rem;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
  }

  .panier_footer .div{
      display: flex;
      flex-direction: column;
      gap:2rem;
  }
  .total_articles , .allprice{
    font-weight: bolder;
    color : black;
}

  

.panier_footer button{
      padding: 0 0.5rem;
      font-weight: bolder;
      color: white;
      background-color: black;
      transition: 0.2s ease-in;
  }

  .panier_footer button:hover{
      color: red;
  }

  /* code css pour le formulaire des commandes */
  /* Styles pour le titre */
h1 {
    text-align: center;
    color: #333; /* Couleur du texte */
    margin-bottom: 20px;
}

/* Styles pour le formulaire */
#orderForm {
    background-color: #fff; /* Fond blanc pour le formulaire */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre douce */
    padding: 20px; /* Espacement interne */
    max-width: 400px; /* Largeur maximale */
    margin: 0 auto 2rem auto; /* Centrer le formulaire */
}

/* Styles pour les labels */
label {
    display: block; /* Afficher les labels en bloc */
    margin-bottom: 5px; /* Espacement en bas */
    color: #555; /* Couleur du texte des labels */
}

/* Styles pour les champs de saisie */
#nom , #phone{
       
        text-transform: uppercase;
        font-weight: bolder;
        width: 100%; /* Largeur complète */
        padding: 10px; /* Espacement interne */
        border: 1px solid #ccc; /* Bordure grise */
        border-radius: 4px; /* Coins arrondis */
        margin-bottom: 15px; /* Espacement en bas */
        font-size: 16px; /* Taille de police */
    }



/* Styles pour le bouton */
#orderButton {
    background-color: #28a745; /* Couleur de fond verte */
    color: white; /* Couleur du texte */
    border: none; /* Pas de bordure */
    border-radius: 4px; /* Coins arrondis */
    padding: 10px 15px; /* Espacement interne */
    font-size: 16px; /* Taille de police */
    cursor: pointer; /* Curseur en main */
    transition: background-color 0.3s; /* Transition douce */
}

/* Effet au survol du bouton */
#orderButton:hover {
    background-color: #218838; /* Couleur de fond plus foncée au survol */
}



@media(max-width:820px){

  
    body{
        padding: 0 0.4rem;
    }

    #product-info{
        gap: 0rem;
        width: 87%;
    }
    .content-img{
       width: 8rem;
       height: 12rem;
   
    }
    .content-img img{
        width: 100%;
        height: 100%;
    }
   
    .article-head{
        width:100%;
    } 
    #titre{
        font-size: 1rem;
    }
   
    .ri-delete-bin-2-line{  
       color: red;
       font-size: 1.3rem;
   }
   .ri-delete-bin-2-line:hover{
       color:black;
   }
   
   
    .article-content{
        width: 80%;
        padding:5px 5px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        /* justify-content: space-between; */
        line-height: 1rem;
    }
   
    .article-content h3{
        text-transform: uppercase;
    }
       
    
     .couleur-content{
        font-size: 0.8rem;
         display: flex;
         flex-direction: row;
         gap:0.6rem ;
     }
   
     .couleur{
       width: 0.8rem;
       height: 0.8rem;
   }
    
      .place{
          display: flex;
          justify-content: space-between;
          gap:10rem;
      }
     
   
     .montant{
        font-size: 0.9rem;
         text-transform: uppercase;
     }
     
     .taille{
        font-size: 0.9rem;
     }
     .taille span{
       border: 1px solid black;
       cursor: pointer;
     }
   
        .size-option{
          padding:0.2rem;
        }
   
     
     .montant-som{
         color: black ;
         font-weight: bold;
         border: none;
         width:min(2rem ,3rem);
     }
   
     .article-footer{
         width: 100%;
         display: flex;
         flex-direction: row;
        gap: 1rem;
     }
     #quantity{
         width: 2rem;
     }

     .article-footer div{
        font-size: 0.8rem;
     }
}
/* fin responsive 820px! */


@media(max-width:480px){

  
    body{
        padding: 0 0.4rem;
    }

    #product-info{
        gap: 0rem;
        width: 95%;
    }
    .content-img{
       width: 8rem;
       height: 12rem;
   
    }
    .content-img img{
        width: 100%;
        height: 100%;
    }
   
    .article-head{
        width:100%;
    } 
    #titre{
        font-size: 0.9rem;
    }
   
    .ri-delete-bin-2-line{  
       color: red;
       font-size: 1.1rem;
   }
   .ri-delete-bin-2-line:hover{
       color:black;
   }
   
   
    .article-content{
        width: 80%;
        padding:5px 5px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        /* justify-content: space-between; */
        line-height: 1rem;
    }
   
    .article-content h3{
        text-transform: uppercase;
    }
       
    
     .couleur-content{
        font-size: 0.8rem;
         display: flex;
         flex-direction: row;
         gap:0.6rem ;
     }
   
     .couleur{
       width: 0.8rem;
       height: 0.8rem;
   }
    
      .place{
          display: flex;
          justify-content: space-between;
          gap:10rem;
      }
     
   
     .montant{
        font-size: 0.9rem;
         text-transform: uppercase;
     }
     
     .taille{
        font-size: 0.9rem;
     }
     .taille span{
       border: 1px solid black;
       cursor: pointer;
     }
   
        .size-option{
          padding:0.2rem;
        }
   
     
     .montant-som{
         color: black ;
         font-weight: bold;
         border: none;
         width:min(2rem ,3rem);
     }
   
     .article-footer{
         width: 100%;
         display: flex;
         flex-direction: column;
        gap: 1rem;
     }
     #quantity{
         width: 2rem;
     }

     .article-footer div{
        font-size: 0.8rem;
     }
   
     .panier_footer{
         width: 100%;
         margin: 0 auto;
         padding-top: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     }
   
     .panier_footer .div{
         font-size: 0.9rem;
         display: flex;
         flex-direction: column;
         gap:2rem;
     }
     .total_articles , .allprice{
       font-weight: bolder;
       color : black;
   }
   
     
   
   .panier_footer button{
        font-size: 0.8rem;
         padding: 0 0.2rem;
         font-weight: bolder;
         color: white;
         background-color: black;
         transition: 0.2s ease-in;
     }
   
     .panier_footer button:hover{
         color: red;
     }
   
     /* code css pour le formulaire des commandes */
     /* Styles pour le titre */
   h1 {
     font-size: 1.3rem;
       text-align: center;
       color: #333; /* Couleur du texte */
       margin-bottom: 20px;
   }
   
   
/* Styles pour le formulaire */
#orderForm {
    background-color: #fff; /* Fond blanc pour le formulaire */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre douce */
    padding: 20px; /* Espacement interne */
    width:95%;
    margin: 0 auto 3rem auto; /* Centrer le formulaire */
}

/* Styles pour les labels */
label {
    font-size: 0.9rem;
}


/* Styles pour le bouton */
#orderButton {
    font-size: 0.9rem;
    padding:0.5rem;
}

}
/* fin responsive 480px */



@media(max-width:360px){
    body{
        padding: 0 0.4rem;
    }

    #product-info{
        gap: 0rem;
        width: 95%;
    }
    .content-img{
       width: 8rem;
       height: 12rem;
   
    }
    .content-img img{
        width: 100%;
        height: 100%;
    }
   
    .article-head{
        width:100%;
    } 
    #titre{
        font-size: 0.9rem;
    }
   
    .ri-delete-bin-2-line{  
       color: red;
       font-size: 1rem;
   }
   .ri-delete-bin-2-line:hover{
       color:black;
   }
   
   
    .article-content{
        width: 80%;
        padding:5px 5px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        /* justify-content: space-between; */
        line-height: 1rem;
    }
   
    .article-content h3{
        text-transform: uppercase;
    }
       
    
     .couleur-content{
        font-size: 0.8rem;
         display: flex;
         flex-direction: row;
         gap:0.6rem ;
     }
   
     .couleur{
       width: 0.8rem;
       height: 0.8rem;
   }
    
      .place{
          display: flex;
          justify-content: space-between;
          gap:10rem;
      }
     
   
     .montant{
        font-size: 0.8rem;
         text-transform: uppercase;
     }
     
     .taille{
        font-size: 0.8rem;
     }
     .taille span{
       border: 1px solid black;
       cursor: pointer;
     }
   
        .size-option{
          padding:0.2rem;
        }
   
     
     .montant-som{
         color: black ;
         font-weight: bold;
         border: none;
         width:min(2rem ,3rem);
     }
   
     .article-footer{
         width: 100%;
         display: flex;
         flex-direction: column;
        gap: 1rem;
     }
     #quantity{
         width: 2rem;
     }

     .article-footer div{
        font-size: 0.8rem;
     }
   
     .panier_footer{
         width: 100%;
         margin: 0 auto;
         padding-top: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     }
   
     .panier_footer .div{
         font-size: 0.9rem;
         display: flex;
         flex-direction: column;
         gap:2rem;
     }
     .total_articles , .allprice{
       font-weight: bolder;
       color : black;
   }
   
     
   
   .panier_footer button{
        font-size: 0.8rem;
         padding: 0 0.2rem;
         font-weight: bolder;
         color: white;
         background-color: black;
         transition: 0.2s ease-in;
     }
   
     .panier_footer button:hover{
         color: red;
     }
   
     /* code css pour le formulaire des commandes */
     /* Styles pour le titre */
   h1 {
     font-size: 1.3rem;
       text-align: center;
       color: #333; /* Couleur du texte */
       margin-bottom: 20px;
   }
   
   
/* Styles pour le formulaire */
#orderForm {
    background-color: #fff; /* Fond blanc pour le formulaire */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre douce */
    padding: 20px; /* Espacement interne */
    width:95%;
    margin: 0 auto 3rem auto; /* Centrer le formulaire */
}

/* Styles pour les labels */
label {
    font-size: 0.9rem;
}


/* Styles pour le bouton */
#orderButton {
    font-size: 0.8rem;
    padding:0.5rem;
}


 } /* fin responsive 360PX */


 @media(max-width:320px){
    .panier_footer button {
        font-size: 0.6rem;
        padding: 0 0.1rem;
 }   

 
@media(max-width:280px){
    body{
        padding: 0 0.4rem;
    }

    #product-info{
        gap: 0rem;
        width: 95%;
    }
    .content-img{
       width: 8rem;
       height: 12rem;
   
    }
    .content-img img{
        width: 100%;
        height: 100%;
    }
   
    .article-head{
        width:100%;
    } 
    #titre{
        font-size: 0.8rem;
    }
   
    .article-content{
        width: 80%;
        padding:5px 5px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        /* justify-content: space-between; */
        line-height: 1rem;
    }
   
    
     .couleur-content{
        font-size: 0.7rem;
         display: flex;
         flex-direction: row;
         gap:0.6rem ;
     }
   
     .couleur{
       width: 0.8rem;
       height: 0.8rem;
   }
    
      .place{
          display: flex;
          justify-content: space-between;
          gap:10rem;
      }
     
   
     .montant{
        font-size: 0.7rem;
         text-transform: uppercase;
     }
     
     .taille{
        font-size: 0.7rem;
     }
     .taille span{
       border: 1px solid black;
       cursor: pointer;
     }
   
        .size-option{
          padding:0.2rem;
        }
   
     
     .montant-som{
         color: black ;
         font-weight: bold;
         border: none;
         width:min(2rem ,3rem);
     }
   
     .article-footer{
         width: 100%;
         display: flex;
         flex-direction: column;
        gap: 1rem;
     }
     #quantity{
         width: 2rem;
     }

     .article-footer div{
        font-size: 0.7rem;
     }
   
     .panier_footer{
         width: 100%;
         margin: 0 auto;
         padding-top: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     }
   
     .panier_footer .div{
         font-size: 0.7rem;
         display: flex;
         flex-direction: column;
         gap:2rem;
     }
     .total_articles , .allprice{
       font-weight: bolder;
       color : black;
   }
   
     
   
   .panier_footer button{
        font-size: 0.6rem;
         padding: 0 0.1rem;
         font-weight: bolder;
         color: white;
         background-color: black;
         transition: 0.2s ease-in;
     }
   
     /* code css pour le formulaire des commandes */
     /* Styles pour le titre */
   h1 {
     font-size: 1rem;
       text-align: center;
       color: #333; /* Couleur du texte */
       margin-bottom: 20px;
   }
   
   
/* Styles pour le formulaire */
#orderForm {
    background-color: #fff; /* Fond blanc pour le formulaire */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre douce */
    padding: 20px; /* Espacement interne */
    width:95%;
    margin: 0 auto 3rem auto; /* Centrer le formulaire */
}

/* Styles pour les labels */
label {
    font-size: 0.8rem;
}


/* Styles pour le bouton */
#orderButton {
    font-size: 0.8rem;
    padding:0.5rem;
}


 } /* fin responsive 280PX */