html.sr .load-hidden {
    visibility: hidden;
  }

*{
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
    text-decoration: none;
    list-style: none;
}

:root{
    --bg-color: #ffffff;
    --text-color: #0f172a;
    --main-color: #6b7280;
    --other-color: #334155;
    --big-font: 2rem ;
    --h2-font: 2.2rem ;
    --p-font:   0.9rem;
}

body{
    color: var(--text-color);
    overflow-x: hidden;
}

main{
    /* padding-top: 0px; */
    margin: auto;
   width: 90%;
}



.contact-form, .contact-info {
    max-width: 90%;
    margin: auto;
    padding: 20px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: white;
}


#name{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form h2 {
    text-align: center;
    font-size:min(1rem , 1.4rem) ;
}

.contact-info h2{
    font-size:min(1rem , 1.2rem) ;
    margin-top: 0px;
    margin-bottom: 1rem;
}

.contact-info p{
    font-size:min(0.8rem , 1.5rem) ;
    width: 100%;
    padding: 10px 0px;
}

label {
    display: block;
    margin: 10px 0 5px;
}


input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .450s ease;
}


button:hover{
    background-color: #031529;
} 



@media(max-width:360px){
    .contact-form, .contact-info {
        padding: px 10px;

        }
 }
