
 .boutique-img{
    background-image: url("../images/cover-homme.jpg");
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    box-sizing: content-box;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
  }

h2{
    margin: 3rem auto;
    text-transform: uppercase; 
    border-bottom: 2px solid #0f172a ;
    padding-bottom: 0.4rem;
    width: 9rem;
}

@media(max-width:360px){ 

  .boutique-img{
      width: 360px;
      height: 640px;
      
  }
}