
html.sr .load-hidden {
    visibility: hidden;
  }

*{
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
    text-decoration: none;
    list-style: none;
}



 #proposheader{
    position: fixed;
    left: 0;
     top: 0;
     width: 100%;
     z-index: 1000;
     display: flex ;
     align-items: center;
     justify-content: space-between;
     background: #ffffff;
     padding: 11px 0 11px 0;
     /* border-bottom: 1px solid #f7f9fb; */
     transition: all .45s ease;
 }

 #proposheader.sticky{
   
    padding: 11px 3%;
}

:root{
    --bg-color: #ffffff;
    --text-color: #0f172a;
    --main-color: #6b7280;
    --other-color: #334155;
    --big-font: 2rem ;
    --h2-font: 2.2rem ;
    --p-font:   0.9rem;
}

body{
   
    color: var(--text-color);
    overflow-x: hidden;
}

.aboutt {
   
    padding: 3rem 0px;
    background-color:#ac8e4f ;
   
   }

.thx{
    color: white ;
    padding: 6rem 0px;
   justify-content: center;
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    flex-direction: row;
}

#space{
    margin-left: 5px;
}

.bienvenue{
    width: 100%;
    height: 60vh;
    margin: 3rem auto 1rem;
}

.bienvenue img{
    width: 100%;
    height: 100%;   
}

 /* .about-content {
    background: #ac8e4f;
    height: auto ;
    }   */

    .about-content h2 {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 20px;
     }

   .about-content h3 {
    font-size: 20px;
    margin-top: 30px;
    }

   .about-content p {
    font-size: 1rem;
    line-height: 1.6;
    padding: 0px 5px 1rem 0px ;
    }

    .mission{
        padding-top: 3rem;
        width: 100%;
        height: 80vh;
        background: #ffffff; 
    }

    .mission h3{
        font-size: 1.7rem;
        color: #ac8e4f;
        font-weight: 600;
       text-align: center;
        width: 15rem;
        margin:auto;
       border-bottom: 0.4rem solid var(--text-color) ;
       padding-bottom: 0.4rem;
    }

    span{
        color: var(--main-color);
        padding-left:1px;
    }
   

   

    .mission-content{
       display: flex;
       flex-wrap: nowrap;
       flex-direction: row;
       justify-content: space-around;
       width: 100%;
       height: 40vh;
       padding-top: 3rem;
       /* margin: 3rem auto 1rem; */
    }

    .mission-img{
        width:20rem;
        height: 20rem;
        background:#f7f9fb;
        display: flex;
    
    }

    .mission img{
        width:100%;
        height: 100%;
    
    }
     #mission_p{
        color: #ac8e4f;
        font-weight: bold;
     }

    .mission-content p{
       
        font-size: 1.3rem;
        width: 20rem;
    }

    #histoire{
        color: white ;
        background-color:#ac8e4f ;
    }

    #histoire h3{
        color: #ffffff;
    }

    #cta{
        color: white ;
        width: 100%;
        height: 60vh;
        background: #ac8e4f;
        padding-bottom: 3rem;
    }

    #cta-content{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
     height: 40vh; 
     padding: 1.5rem 0 3rem 0; 
     align-items: center;
    /* margin: 3rem auto 1rem;  */
     }   

     #cta-img{
        width:20rem;
        height: 25rem;
        background:white;
        border-radius:50% ;
     }

     
     footer {
        background-color: #000;
        color: #fff;
        padding:2rem 0;
        margin-top: 0rem;
    }
    


  
@media(max-width:820px){ 

    #proposheader{
        display:flex;
        justify-content: flex-start;
        gap: 33.5rem;
        padding: 10px 10px;
    }
    
    .logo img{
       
        width: 80px;
        height: auto;
    }
     
    .navbar{
        z-index:10;
        position: absolute;
        top:97px;
        right: 0px;
        display:flex;
        flex-direction: column;
        transition: all .45s ease;
        background:var(--text-color);
        height: 90vh;
        width: 0%;
        align-items: center;
        padding-top: 5rem;
        gap: 1.5rem;  
        overflow: hidden;
    }

    .navbar a{
        color:white;
        font-size: 1.5rem;
        padding: 8px 10px; 
    }

    .navbar a.active{
        background:var(--text-color);
    }
    .navbar a.active:hover{
        color: var(--text-color);
        background:white;
    }

    .navbar a:hover{
        color: var(--text-color);
        padding: 8px 10px; 
    }
    .open{
        width: 60vw;
    }

    
    #menu-icon{
        display:block;
        font-size: 1.5em;
        background: #000;
        background:#f7f9fb  ;
        padding: 10px 8px;
        border-radius:50% ;
        color: var(--other-color);
        transition: all .45s ease;
        /* max-width: ; */
    }

    #menu-icon:hover{
        border: 1px solid var(--other-color);
        transform: scale(0.9);
   }

   .icons{
    display: flex;
   align-items: center; 
   justify-content:space-between;
   max-width: 189px ;
   }

   .icons i{
    height: 45px;
    width: 45px;
    padding: 8px 6px;
    font-size: 1.1rem;
}

.aboutt {
   
    padding: 5rem 0px;
    background-color:#ac8e4f ;
   
   }


.thx{
    color: white ;
    /* margin-top:9rem; */
    padding: 8rem 0px;
   justify-content: center;
    font-size: 1.6rem;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.thx-content{
    font-size: 1.8rem;
}

#cta{
    color: white ;
    width: 100%;
    height: 60vh;
    background: #ac8e4f;
    padding-bottom: 3rem;
}

.mission{
    height: auto;
}

#cta-content{
 padding: 0px; 
 height: 70vh;
}   

#cta-content p{
    font-size: 1.7rem;
   }   
   

 #cta-img{
    width:16rem;
    height: 22rem;
    background:white;
    border-radius:50% ;
 }

 footer{
     margin-top: 0px;
 }

}
/* fin responsive 820px */


@media(max-width:480px){

    header {
        padding: auto;
        display: flex;
        justify-content: flex-start;
        width: 100%;
       margin-bottom: 3rem;
        gap: 9.5rem;
    }

    .about{
    padding: 0px;
    /* background-color:#e3ffe6 ; */

    }

   .about-content {
    max-width: 600px;
    margin: auto; 
    text-align: center;
    }

    .about-content h2 {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 20px;
     }

   .about-content h3 {
    font-size: 20px;
    margin-top: 30px;
    }

   

   .about-content p {
    font-size: 14px;
    line-height: 1.6;
    margin: 0;
    }

        #cta-img {
        display:none;
    }

        #cta-content {
        padding-bottom: 10px;
    }

          #cta-content p {
        font-size: 1.2rem;
    }

    .mission-content {
    height: 67.5vh;
    padding: 1rem 10px;
}

    .thx {
        padding: 6rem  0px  0px 0px;
        font-size: 1.1rem;
    }

        .thx-content {
        font-size: 1.3rem;
    }

   #cta {
        padding-bottom: 0rem;
    }

   .mission {
    padding-top: 1rem;
}

       .aboutt {
        padding: 0px;
        background-color: #ac8e4f;
    }

    .footer-section .about {
        padding: 0px;
    }

     

    
}


@media(max-width:360px){

    header {
        padding: auto;
        display: flex;
        justify-content: flex-start;
        width: 100%;
       margin-bottom: 3rem;
        gap: 8.5rem;
    }
}




















